<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="wei.lab.spring.daze.db.dao.IPersonAlterLogDAO">
    <resultMap id="PersonAlterLogMap" type="PersonAlterLog">
        <result jdbcType="TIMESTAMP" javaType="long" column="create_time" property="createTime"
                typeHandler="wei.lab.spring.daze.util.DateLongTypeHandler"/>
    </resultMap>

    <sql id="TableName">
        person_alter_log
    </sql>

    <select id="selectAll" resultMap="PersonAlterLogMap">
        select
            log_id, log_data, user_id, create_time
        from
            <include refid="TableName"/>
    </select>

    <insert id="insert" parameterType="PersonAlterLog">
        insert into
            <include refid="TableName"/>(log_data, user_id, create_time)
        values
            (
                #{logData}, #{userId},
                #{createTime, javaType=long, jdbcType=TIMESTAMP, typeHandler=com.qq.qd.platform.daze.util.DateLongTypeHandler}
            )
    </insert>
</mapper>